{% extends 'base.html' %}
{% block title %}Александрова Надежда - репетитор по русскому языку и литературе{% endblock title %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
{% endblock %}
{% block content %}
<div class="container-main-page">
    <div class="preparing-for">
        <p class="oge-ege">ПОДГОТОВКА К ОГЭ/ЕГЭ</p>
        <p class="rus-and-lit">ПО РУССКОМУ ЯЗЫКУ И ЛИТЕРАТУРЕ ONLINE</p>
    </div>
    <div class="first-block">
        <div class="left-column col-7">
            <p class="slogan">Помогу сдать экзамены на высокий балл!</p>
            <button class="animated-button">
                <p class="button-text">Записаться</p>
                <p class="button-text">на пробное занятие</p>
            </button>
        </div>
        <img src="{{ url_for('static', path='media/title.jpg') }}" alt="Титульное" class="col-6">
    </div>
    <!-- <div class="row">
        <div class="col-1"></div>
        <div class="main-idea-2 col-8" id="about-me">
            <p class="third-line">СДАТЬ ЭКЗАМЕН ЛЕГКО</p>
            <p class="third-line">С ПРАВИЛЬНЫМ НАСТАВНИКОМ</p>
        </div>
        <div class="col-3"></div>
    </div>
    {% for item in content %}
        <div class="second-block">
            <div class="main-work-img col-6">
                <img src="{{ item.work_img.url }}" alt="{{ item.img_name }}" class="main-work-img">
            </div>
            <div class="description col-6">
                <p>{{ item.description|safe }}</p>
            </div>
        </div>
    {% endfor %}
    <div class="main-idea-3">
        <p class="forth-line">ПРЕИМУЩЕСТВА</p>
        <p class="fiveth-line">ПОЧЕМУ ВЫБИРАЮТ ИМЕННО МЕНЯ</p>
    </div>
    <div class="squares-container">
        <div class="square">
            <img class="square-img" src="/static/icons/individualism.png" alt="Individualism">
            <p>Индивидуальный подход</p>
        </div>
        <div class="square">
            <img class="square-img" src="/static/icons/experience.png" alt="Experience" style="padding-top: 90px;">
            <p>Опыт подготовки к ЕГЭ/ОГЭ</p>
        </div>
        <div class="square">
            <img class="square-img" src="/static/icons/list.png" alt="List">
            <p>Знаю, как подготовить к экзаменам в МГУ</p>
        </div>
    </div>
    <div class="squares-container" style="margin-bottom: 60px;">
        <div class="square">
            <img class="square-img" src="/static/icons/results.png" alt="Individualism" style="padding-top: 90px;">
            <p>Результаты учеников</p>
        </div>
        {% for item in content %}
            <img class="square-work-img" src="{{ item.work_img.url }}" alt="{{ item.img_name }}">
        {% endfor %}
        <div class="square">
            <img class="square-img" src="/static/icons/schedule.png" alt="List">
            <p>Гибкий график занятий</p>
        </div>
    </div>
    <div class="main-idea-4">
        <p class="first-line">ЧТО ОБО МНЕ ГОВОРЯТ</p>
    </div>
    <div class="main-idea-5">
        <p class="price-title">СТОИМОСТЬ</p>
        {% for price in prices %}
            <div class="price-list">
                <p class="price-line">ПАКЕТ “{{ price.price_name }}”</p>
                <p class="main-price">{{ price.price }} руб.</p>
                <button class="price-btn">ХОЧУ</button>
            </div>
        {% endfor %}
    </div>
    <div class="main-idea-6">
        <p class="first-line">КАК СО МНОЙ СВЯЗАТЬСЯ?</p>
        {% for item in content %}
          <div class="second-block">
            <div class="main-work-img col-10">
                <img src="{{ item.work_img.url }}" alt="{{ item.img_name }}" class="main-work-img">
            </div>
            <div class="connection-block col-2">
                <p class="connection-text">Телефон:</p>
                <p class="connect">8 904 698 33 44</p>
                <p class="connection-text">Почта:</p>
                <p class="connect">alexandrowa@mail.ru</p>
                <div class="social-connection">
                    <a href="..." target="_blank">
                        <img src="/static/icons/tg.svg" alt="Telegram" style="width: 40px; height: 40px;">
                    </a>
                    <a href="..." target="_blank">
                        <img src="/static/icons/vk.svg" alt="VK" style="width: 45px; height: 45px;">
                    </a>
                </div>
                <br>
            </div>
          </div>
        {% endfor %}
    </div> -->
</div>
{% endblock%}
